.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 90px 180px;
}

.carts {
    width: 67%;
}

.ckeckout {
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px 20px;
    width: 25%;
    height: 170px;
    border: solid 1px silver;
    border-radius: 7px;
}

.totalPayments {
    margin: 20px 0px;
}

.totalPayments span, .totalItems span {
    font-size: 17px;
    font-weight: 540;
    color: #1a73e8;
}


.buttons {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clearButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #34a853;
}

.checkoutButton {
    background-color: #34a853;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(149, 157, 165, 0.4);
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    transition: all 0.3s;
}

.checkoutButton:hover {
    background-color: #217738;
    transition: all 0.6s;
}